llvmlite==0.43.0 ; python_version >= "3.9" and python_version < "4.0"
numba==0.60.0 ; python_version >= "3.9" and python_version < "4.0"
numpy==2.0.2 ; python_version >= "3.9" and python_version < "4.0"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "4.0"
