colorama==0.4.6 ; python_full_version == "3.9.20" and sys_platform == "win32"
exceptiongroup==1.2.2 ; python_full_version == "3.9.20"
iniconfig==2.0.0 ; python_full_version == "3.9.20"
llvmlite==0.43.0 ; python_full_version == "3.9.20"
numba==0.60.0 ; python_full_version == "3.9.20"
numpy==2.0.2 ; python_full_version == "3.9.20"
packaging==24.2 ; python_full_version == "3.9.20"
pluggy==1.5.0 ; python_full_version == "3.9.20"
pytest==8.3.3 ; python_full_version == "3.9.20"
scipy==1.13.1 ; python_full_version == "3.9.20"
tomli==2.0.2 ; python_full_version == "3.9.20"
